.content-page {
    width: 79%;
    height: 98%;
}

.content-page-container {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1); /* semi-transparent white */
    border-radius: 10px;
    backdrop-filter: blur(10px); /* GLASS effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  